*{
color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#war {

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width:100%;
height: 100%;
position: relative;
/* left:23%;
top:10%; */

}

#cards{

    margin-top: 20px;
}
button{
    margin-top: 10px;
}

#new-deck{

    position: absolute;
    left:0px;
    top:0px;
}
#draw-cards{

    width: 100%;
    position: absolute;
    bottom:0px;
}

#war #cards img{

border:2px solid black;
    width: 201px;
    height: 188px;

}
#war #cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


#remaining-cards::first-letter{

    font-size: 40px;
    color: rgb(43, 226, 134);
}